<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Car Shop</title>
  <link rel="stylesheet" type="text/css" href="bundle.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <h1>Car Shop</h1>
  <div id="app">
    <h2>Get All</h2>
    <button v-on:click="getAllCars" class="btn btn-primary">Get all cars</button>

    <ul v-if="cars.length">
      <li v-for="car in cars">
        {{car.id}} {{car.vendor}} : {{car.model }} {{ car.price}}
      </li>
    </ul>
    <!--span v-else>No cars</span-->

    <h2>Delete</h2>
    <input class="form-control" v-model.number="deleteId" placeholder="id" type="number"/>
    <button v-on:click="deleteCar(deleteId)" class="btn btn-warning">Delete</button>
    {{deleteMessage}}

    <h2>Add</h2>
    <input v-model="formData.vodel" placeholder="model" type="text" />
    <input v-model="formData.vendor" placeholder="vendor" type="text" />
    <input v-model.number="formData.price" placeholder="price" type="number" />
    <button v-on:click="addCar()" class="btn btn-success">Add</button>
    <div>{{addMessage}}</div>
  </div>
  <script src="bundle.js"></script>
</body>

</html>